.sound-list-page {
  height: calc(100svh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sound-list-page .sound-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 0 20px;
  flex-shrink: 0;
  flex-grow: 0;
}
.sound-list-page .sound-table-header .sound-list-title {
  display: flex;
  flex-wrap: nowrap;
  color: #555;
}
.sound-list-page .sound-table-header .sound-list-title .table-name {
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}
.sound-list-page .sound-table-scene {
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.sound-list-page .sound-table-scene.recording {
  justify-content: center !important;
}
.sound-list-page .sound-table-scene .record-signal {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #971111;
  margin-right: 10px;
  animation: recordingMode 0.5s infinite alternate;
}
.sound-list-page .sound-table-scene .time-display {
  margin-right: 10px;
}
@keyframes recordingMode {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sound-list-page .scenes-list {
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sound-list-page .scenes-list .scene-content {
  border-radius: 50000000000000000px;
  background-color: #0f0f0f;
  transition: all 0.3s ease;
  position: relative;
  margin-right: 5px;
}
.sound-list-page .scenes-list .scene-content .scene-object {
  width: 100%;
  padding: 3px 10px;
  cursor: pointer !important;
}
.sound-list-page .scenes-list .scene-content .scene-object .scene-name {
  margin-left: 5px;
}
.sound-list-page .scenes-list .scene-content:hover {
  background-color: #f0f0f0;
  color: #0f0f0f;
}
.sound-list-page .scenes-list .scene-content .optins-content {
  z-index: 99;
  position: absolute;
  top: -2px;
  left: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 5px;
}
.sound-list-page .sound-list-container {
  margin-top: 10px;
  padding: 10px 20px 0 20px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}
.sound-list-page .sound-list-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 500000000000000000px;
}
.sound-list-page .sound-list-container::-webkit-scrollbar-track {
  background: transparent;
}
.sound-list-page .sound-list-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #1b1b1b;
  border-radius: 500000000000000000px;
}
.sound-list-page .sound-list-container .sound-list {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}
@media (max-width: 1200px) {
  .sound-list-page .sound-list-container .sound-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 992px) {
  .sound-list-page .sound-list-container .sound-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .sound-list-page .sound-list-container .sound-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .sound-list-page .sound-list-container .sound-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.sound-list-page .sound-list-container .sound-list .add-sound-button {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 18px;
  opacity: 0.3;
}
.sound-list-page .sound-list-container .sound-list .add-sound-button .el-icon {
  font-size: 30px;
  margin-bottom: 10px;
}
.sound-list-page .sound-list-container .sound-list .add-sound-button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px #fff) drop-shadow(0px 0px 20px #fff);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.05);
  transform: scale(1.05);
  opacity: 1;
}
.sound-list-page .sound-list-container .sound-list .sound-button {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  filter: drop-shadow(0 0 10px #000);
  transition: all 0.3s ease;
  border-radius: 50%;
}
.sound-list-page .sound-list-container .sound-list .sound-button:not(.inative):hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #000);
  cursor: pointer;
}
.sound-list-page .sound-list-container .sound-list .sound-button.inative {
  filter: unset !important;
  border: 1px solid #222;
}
.sound-list-page .sound-list-container .sound-list .sound-button.inative .sound-image,
.sound-list-page .sound-list-container .sound-list .sound-button.inative .sound-group {
  filter: saturate(0%) contrast(50%) brightness(30%);
}
.sound-list-page .sound-list-container .sound-list .sound-button.inative .sound-infos {
  background: transparent !important;
  box-shadow: none !important;
}
.sound-list-page .sound-list-container .sound-list .sound-button.config .sound-infos {
  height: calc(100% - 20px) !important;
  bottom: 0 !important;
}
.sound-list-page .sound-list-container .sound-list .sound-button.config .sound-infos .sound-name {
  margin-top: 20px !important;
}
.sound-list-page .sound-list-container .sound-list .sound-button.config .sound-infos .sound-options {
  display: none;
}
.sound-list-page .sound-list-container .sound-list .sound-button.config .sound-infos .options-button {
  top: calc(100%) !important;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-image {
  width: calc(100% - 16px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 8px solid #333;
  box-shadow: inset 0 0 50px 10px #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-group {
  background-color: #efefef;
  color: #000;
  padding: 3px 5px;
  border-radius: 50000000000px;
  width: min-content;
  white-space: nowrap;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 9;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-infos-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-infos-content .sound-infos {
  width: calc(100% - 20px);
  height: calc(50% - 10px);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -15%;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 0px 10px #000000;
  border-radius: 50%;
  line-height: 1;
  transition: all 0.3s ease;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-infos-content .sound-infos .sound-name {
  width: 100% - 10px;
  max-height: 26px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-infos-content .sound-infos .options-button {
  position: absolute;
  transform: translateX(-50%);
  top: calc(50% + 5px);
  left: 50%;
  transition: all 0.3s ease;
}
.sound-list-page .sound-list-container .sound-list .sound-button .sound-content .sound-infos-content .sound-infos .sound-options {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-list-page .sound-control-panel {
  flex-shrink: 0;
  width: 100%;
  height: 140px;
  background-color: #111;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
.sound-list-page .sound-control-panel .scene-audios-container {
  flex-shrink: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  border: 2px solid #fff;
  padding-top: 20px;
  border-radius: 5000000000000000000px;
  position: relative;
}
.sound-list-page .sound-control-panel .scene-audios-container .scene-name {
  position: absolute;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}
.sound-list-page .sound-control-panel .scene-audios-container .control-audio-content {
  margin: 0 10px !important;
}
.sound-list-page .sound-control-panel .control-audio-content {
  background-color: #333;
  width: 100px;
  height: 100px;
  margin: 20px 10px 0 10px;
  border-radius: 50%;
  position: relative;
}
.sound-list-page .sound-control-panel .control-audio-content:hover .control-audio {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
.sound-list-page .sound-control-panel .control-audio-content .audio-infos {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  white-space: pre-wrap;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 99999;
  text-shadow: 2px 0 #2b0000, -2px 0 #2b0000, 0 2px #2b0000, 0 -2px #2b0000, 1px 1px #2b0000, -1px -1px #2b0000, 1px -1px #2b0000, -1px 1px #2b0000;
}
.sound-list-page .sound-control-panel .control-audio-content .audio-infos .el-progress {
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
}
.sound-list-page .sound-control-panel .control-audio-content .audio-infos .el-progress .el-progress-circle {
  width: 100px !important;
  height: 100px !important;
}
.sound-list-page .sound-control-panel .control-audio-content .audio-infos span {
  position: absolute;
  max-width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.sound-list-page .sound-control-panel .control-audio-content .control-audio {
  width: calc(100% - 20px);
  padding: 20px 10px 80px 10px;
  border-radius: 20px 20px 5px 5px;
  position: absolute;
  background-color: #333;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.3s ease;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  bottom: 20px;
}
.sound-list-page .sound-control-panel .control-audio-content .control-audio .control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.sound-list-page .sound-control-panel .control-audio-content .control-audio .control-buttons button {
  margin: 10px 0 !important;
}
