body {
  margin: 0;
  padding: 0;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}
body a {
  text-decoration: none;
  color: #db292f;
}
body header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
body header img {
  width: 250px;
}
body main {
  width: calc(100% - 20px);
  max-width: 920px;
  margin-top: 20px;
  color: #fff;
}
body main p {
  line-height: 1.5;
}
body main .tutor {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #ff1b22;
  font-size: 20px;
  font-weight: bold;
}
body main .image-content {
  max-width: 100%;
}
body main .image-content.double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body main .image-content img {
  width: 100%;
}
body main .git-link {
  color: #fff;
  text-decoration: underline;
}
body main .git-link img {
  width: 20px;
  filter: invert(100%);
  margin-left: 5px;
}
